apiVersion: v1
kind: ConfigMap
metadata:
  name: server-config
  labels:
{{ include "molgenis-armadillo.labels" . | indent 4 }}
data:
  adminusername: {{ .Values.server.admin.username | quote }}
  client_id: {{ .Values.minio.environment.MINIO_IDENTITY_OPENID_CLIENT_ID }}
  issuer_uri: {{ .Values.shared.issuerUri | quote }}
  session_timeout: {{ .Values.server.session.timeout | quote }}
{{- if .Values.server.config -}}
  "application.json": {{ toJson .Values.server.config | quote }}
{{- end -}}