{{- if .Values.ingress.enabled -}}
{{- $fullName := include "molgenis.fullname" . -}}
{{- $ingressPath := .Values.ingress.path -}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: "{{ $.Release.Name }}-ingress"
  labels:
    app: {{ template "molgenis.name" . }}
    chart: {{ template "molgenis.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    {{- if .tls }}
    ingress.kubernetes.io/secure-backends: "true"
    {{- end }}
    {{- range $key, $value := $.Values.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  rules:
    {{- if eq $.Values.molgenis.environment "edge" }}
    - host: {{ .Release.Name }}.edge.molgenis.org
    {{- if eq $.Values.molgenis.environment "development" }}
    - host: {{ .Release.Name }}.dev.molgenis.org
    {{- else if eq $.Values.molgenis.environment "test" }}
    - host: {{ .Release.Name }}.test.molgenis.org
    {{- else if eq $.Values.molgenis.environment "acceptance" }}
    - host: {{ .Release.Name }}.accept.molgenis.org
    {{- else }}
    - host: {{ .Release.Name }}.molgenis.org
    {{- end }}
      http:
        paths:
          - path: {{ $ingressPath }}
            backend:
              serviceName: {{ $fullName }}
              servicePort: {{ $.Values.service.port }}
{{- end }}
