# Use kubectl create -f restore.yaml to manually execute a restore of the vault
apiVersion: "etcd.database.coreos.com/v1beta2"
kind: "EtcdRestore"
metadata:
  # The restore CR name must be the same as spec.etcdCluster.name
  name: vault-etcd
  namespace: vault-operator
spec:
  etcdCluster:
    # The namespace is the same as this EtcdRestore CR
    name: vault-etcd
  backupStorageType: S3
  s3:
    path: vault/backup-<specify the backup name>
    awsSecret: aws
    endpoint: http://minio.minio.svc:9000
    forcePathStyle: true