{{- if .Values.ingress.enabled }}
{{- $fullName := include "frontend.fullname" . -}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: "{{ $.Release.Name }}-ingress"
  labels:
    app: {{ template "frontend.name" . }}
    chart: "{{ $.Chart.Name }}-{{ $.Chart.Version }}"
    release: "{{ $.Release.Name }}"
    heritage: "{{ $.Release.Service }}"
  annotations:
    {{- if .Values.ingress.tls }}
    ingress.kubernetes.io/secure-backends: "true"
    {{- end }}    
    {{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  rules:
    - host: {{ template "hostname" . }}
      http:
        paths:
          - path: /
            backend:
              serviceName: {{ .Release.Name }}-{{ .Values.backend.name }}
              servicePort: {{ .Values.backend.port }}
          - path: /@molgenis-ui
            backend:
              serviceName: {{ .Release.Name }}-{{ .Values.service.name }}
              servicePort: {{ .Values.service.port }}
      alpn:
        - h2
        - http/1.1
        - http/1.0
---
{{- end }}