apiVersion: v2
appVersion: "10"
description: MOLGENIS - helm stack
name: molgenis
version: 1.17.1
dependencies:
  - name: molgenis-elasticsearch
    version: 2.1.1
    repository: https://registry.molgenis.org/repository/helm
    condition: molgenis-elasticsearch.enabled
  - name: molgenis-frontend
    version: 1.7.0
    repository: https://registry.molgenis.org/repository/helm
    condition: molgenis-frontend.enabled
  - name: postgresql
    version: 8.1.2
    repository: https://charts.helm.sh/stable
    condition: postgres.enabled
  - name: minio
    version: 8.0.10
    repository: https://helm.min.io/
    condition: minio.enabled
sources:
- https://github.com/molgenis/molgenis-ops-helm.git
icon: https://raw.githubusercontent.com/molgenis/molgenis-ops-helm/master/charts/molgenis/catalogIcon-molgenis.png
home: http://molgenis.org
maintainers:
- name: sidohaakma
- name: fdlk
- name: christianhilbrands
